body {
  margin: 0;
  padding: 0;
  background: #252323;
}
#header{
    background-color: #000000;
}
#bucket .container #bucket-row #bucket-column #bucket-box {
  margin-top: 50px;
  max-width: 600px;
  height: 200px;
  border: 1px solid #9C9C9C;
  background-color: #000000;
}